<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="static/css/main.css" rel="stylesheet"/>
</head>

<body>
    <main>
        <div class="container">
            <h1>Grader</h1>
            <h3>Select an option below</h3>
            <button id="admin" class="button" onclick="location.href='/login'">ADMIN</button>
            <button id="student" class="button" onclick="location.href='/select_a_student'">STUDENT</button>
        </div>
    </main>
</body>