<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="static/css/main.css" rel="stylesheet"/>
    <script src="/static/scripts/scripts.js"></script>
</head>

<body>
    <main>
        <div class="container">
            <h3>Login</h3>
            <label for="username">Username:</label>
            <input type="text" id="username"><br>
            <label for="password"> Password:</label>
            <input type="password" id="password"><br>
            <button id="student" class="button" onclick="login()">LOGIN</button>
        </div>
    </main>
</body>